.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.friends-container {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  display: flex;

  text-decoration: none;
  text-align: center;
  flex-direction: column;
  width: 150px;
  height: 40px;
  padding-top: 20px;
  margin: 25px auto;
  background-color: #095256;
  color: white;
  border-radius: 5px;
}

.active {
  color: #095256;
  background-color: white;
  border: 2px solid #095256;
}

nav {
  display: flex;
  margin: 0 auto;
  width: 500px;
}

h1 {
  color: #095256;
}
